/*首页点击展开*/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.bounce-in-down {
    -webkit-animation-name: bounceInDown;
    animation-name: bounceInDown;
}

@-webkit-keyframes fadeInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0%, 60%, 75%, 90%, 100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        -webkit-transform: none;
        transform: none;
    }
}

.fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes bounceOutUp {
    20% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0);
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.bounce-out-up {
    -webkit-animation-name: bounceOutUp;
    animation-name: bounceOutUp;
}

@-webkit-keyframes fadeOutUp {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes fadeOutUp {
    20% {
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    40%, 45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fade-out-up {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}

.menu-open {
    height: 100%;
    width: 100%;
}

    .menu-open .mui-scroll-wrapper {
        position: absolute;
        top: 48;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        overflow: hidden;
        -webkit-backface-visibility: hidden;
    }

.menu-backdrop {
    display: none;
}

.menu-open .menu-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    display: block;
    z-index: 998;
}

.menu-wrapper {
    position: absolute;
    top: 2.4rem;
    left: 0;
    right: 0;
    z-index: 999;
    text-align: center;
    background-color: #41d8b9;
    width: 100%;
}

    .menu-wrapper.hidden {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
        z-index: -1;
    }

.menu {
    width: 100%;
    padding: 1rem 0;
}

    .menu .mui-table-view-inverted {
        color: gray;
        font-size: 19px;
    }

/*.menu .mui-table-view-inverted .mui-table-view-cell:after {
                    height: 1px;
                    left:15px;
                    right: 15px;
                    top:-.5px;
                }*/

.menu-wrapper.mui-active,
.menu-wrapper.mui-active .menu {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/*#info {
            padding: 20px 10px;
        }*/


/*==========================*/
body .mui-bar {
    background: #41d8b9;
}

li {
    list-style: none;
}

.add_img img {
    width: 1.2rem;
    padding: .25rem 0;
}

body .mui-title {
    color: #fff;
}

body .mui-table-view-cell {
    padding: .5rem;
}

.index_header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #41d8b9;
}

    .index_header .header_conter {
        color: #fff;
        font-size: 1rem;
        font-weight: normal;
        text-align: center;
        padding: .78rem 0;
    }

.add_a {
    position: absolute;
    right: 0;
    padding-top: .55rem;
    padding-right: .3rem;
}


.index_list {
    display: flex;
}

.p_left {
    width: 3rem;
    height: 4rem; /*background:#4cff00;*/
}

    .p_left img {
        max-width: 3rem;
        height: 100%;
    }

body .mui-table-view:before {
    height: 0px;
}

.p_right {
    padding-left: .5rem;
}

.p_right_p1 {
    color: #333;
    font-size: .7rem;
}

.p_right_p2 {
    color: #666;
    font-size: .65rem;
}

.p_right_p3 {
    color: #00bbd6;
    font-size: .5rem;
}

.p_right_p4 {
    position: absolute;
    bottom: 0rem;
    width: 9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.p_right {
    position: relative;
    flex: 1;
}

.p_time {
    position: absolute;
    right: 0;
    top: 0rem;
    font-size: .5rem;
    color: #999;
}

.p_photo {
    position: absolute;
    right: 0;
    bottom: 0rem;
}

    .p_photo img {
        width: 1.3rem;
    }

.mui-btn-red {
    font-size: .8rem;
}

.index_body .mui-table-view-cell a {
    font-size: .75rem;
    text-align: left;
}

    .index_body .mui-table-view-cell a .zk_img {
        width: 1rem;
        margin-left: .8rem;
        margin-right: 1.6rem;
        position: relative;
        top: .1rem;
    }

body .mui-table-view-inverted:after {
    height: 0px;
}


.add_a {
    position: absolute;
    right: 0;
    padding-top: .3rem;
    padding-right: .3rem;
}
/*header .add{ width: 1.5rem;
        }*/
.popre {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    background: #41d8b9;
}

.popre_ul {
    width: 100%;
    padding: 0;
    margin: 0;
    padding-top: 3rem;
}

    .popre_ul li {
        font-size: .8rem;
        color: #fff;
        padding: .5rem;
    }

.index_body #OA_task_1 {
    padding-top: 2.46rem;
}

.zwdd_p {
    text-align: center;
    padding: 3rem 0;
}
